* {
    font-family: Outfit, 'Source Sans Pro';
}
.admin{
    left: 8%;
    position: relative;
    background-color: #fffbe3;
    height: 100VH;
    transition: all 0.5s ease;
    width: calc(100% - 8%);
    z-index: 0;
    
    
}
.navbar{
    background-color: #0d1426;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    min-width: fit-content;
    width: auto;
    
    
}
.user1{
    margin-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.user1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.name{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.titlesite{
    display: flex;
    align-items: center;
}
.titlesite img{
    margin-left: 33%;
    width: 5%;
}
.titlesite span{
    font-size: 0.8rem;
    font-weight: 700;
    white-space: wrap;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 0.5rem;
}
.topbar{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    font-weight: 700;
    font-size: 1.2rem;
    align-items: center;
}
.links p{
    background-color:#0d1426;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.5rem 0.8rem rgb(77, 77, 77);
}
.links a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    padding: 0.5rem;
}
.links a:hover{
    background-color:rgb(228, 228, 228);
    border-radius: 0.5rem;
    box-shadow: 0rem 0.5rem 0.8rem rgb(77, 77, 77);
}
.form-container{
    margin-top: 1rem;
    row-gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color: rgb(77, 77, 77);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations{
    display: flex;
    align-items: center;
    width: 50rem;
    box-shadow: 1.9rem 1.8rem 3.08rem rgba(11, 88, 204, 0.5);
    background-color: #e7e7e7;
    border-radius: 3rem;
    padding: 1rem;
    row-gap: 1.3rem;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: 1rem;

}
.buttons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10rem;

}

.buttons a{
    height: 2rem;
    width: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color:rgb(77, 77, 77);
    text-align: center;
    border-radius: 3rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    position: relative;

}
.button{
    height: 2rem;
    width: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color:rgb(77, 77, 77);
    text-align: center;
    border-radius: 3rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    position: relative;
    border: none;
    outline: none;

}
.button:hover{
    background-color:rgb(41, 41, 41);
    box-shadow: 0.5rem 0.5rem 1rem rgb(80, 66, 29);
}
.buttons a:hover{
    background-color:rgb(41, 41, 41);
    box-shadow: 0.5rem 0.5rem 1rem rgb(80, 66, 29);
}
.buttonupdate{
    height: 2rem;
    width: 5rem;
    display: flex;
    border-radius: 3rem;
    align-items: center;
    border: none;
    background-color: #008d1f;
    color: #FFFFFF;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    position: relative;

}
.buttonupdate:hover{
    background-color:#005011 ;
    box-shadow: 0.5rem 0.5rem 1rem rgb(80, 66, 29);
}
.content{
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 3rem;
    padding: 1% 0% 1% 3%;
    background-color: #dddddd;
    font-family: Outfit, 'Source Sans Pro';
    cursor:default;
    width: 90%;
    color: rgb(77, 77, 77);
}
.content:hover{
    box-shadow: 1rem 1.5rem 1.8rem rgb(80, 66, 29);
    background-color: rgb(255, 227, 167);
    padding: 2% 1% 2% 4%;

}
.content1{
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 3rem;
    padding: 1rem;
    background-color: #dddddd;
    width: auto;
    color: rgb(80, 66, 29);

}
.inputtxt {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.26;
    color: rgb(80, 66, 29);
    font-family: Outfit, 'Source Sans Pro';
    white-space: nowrap;    
    border: none; 
    outline: none; 
    background: transparent; 
    width: 100%;
    
}
.inputtxt input[type='number']::-webkit-outer-spin-button,
.inputtxt input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.description {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.26;
    color: rgb(80, 66, 29);
    white-space: normal; /* Changed from nowrap to normal */
    overflow-wrap: break-word; /* Ensures long words will wrap and not overflow */
    border: none; 
    outline: none; 
    background: transparent; 
    width: 100%; /* You might need to set a max-width or specific width */
    height: auto;
}


.errorbox1{
    background-color: red;
    position: relative;
    text-align: center;
    height: auto;
    width: 20rem;
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 3em;
    box-sizing: border-box;
    padding: 0.8rem 0.6rem 0.7rem 0.6rem;
}
.errorbox1:hover{
    box-shadow: 1rem 0.6rem 1.8rem rgba(245, 85, 85, 0.5);
  }
.error1{
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.26;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
 

}

.departchoose{
    border: none;
    outline: none; 
    background: transparent; 
    width: 40rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.26;
    color: rgb(80, 66, 29);
    
}


.sidebar.active ~ .admin{
    left: 20%;
    width: calc(100% - 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
}

.sidebar.active ~ .admin .navbar {
    display: none;
}
