
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100VH;
}
.login-Ftr {
  width: 100%;
  height: 125.8rem;
  position: relative;
  overflow: hidden;
  background-color: #fffbe3;
}
.about {
    width: 100%;
    height: 125.8rem;
    position: relative;
    overflow: hidden;
    background-color: #fff9d8;
    text-align: center;
  }
.ellipse-1-aRL {
  width: 151.6rem;
  height: 137.2rem;
  position: absolute;
  left: 76.6rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ellipse-2-7RG {
  width: 113.9388rem;
  height: 104.3609rem;
  position: absolute;
  left: 90.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ellipse-3-SyL {
  width: 113.9388rem;
  height: 104.3609rem;
  position: absolute;
  left: 120.6rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
 .nav-bar-Pdg {
  width: 108rem;
  height: 13.05rem;
  position: absolute;
  left: 16rem;
  top: 2.05rem;
  display: flex;
  align-items: flex-start;
}

.nav-bar-Pdg .navbarlink{
  text-decoration: none;
  
}
.nav-bar-Pdg .logo-jBk {
  position: relative;
  align-items: center;
  flex-shrink: 0;
  column-gap: 2rem;
  display: flex;
}
.nav-bar-Pdg .logo {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-size: 100% 100%;
  flex-shrink: 0;
}
.nav-bar-Pdg .logo-jBk .logotxt {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  color: #777777;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.nav-bar-Pdg .frame-7-cmL {
  margin-bottom: 10.95rem;
  margin-left: 40rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.nav-bar-Pdg .frame-7-cmL .navbartxt {
  
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.26;
  color: #777777;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.bottom-frame-Y2i {
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 109.8rem;
  overflow: hidden;
  background-color: #0d1426;
}
.copyright-GjQ {
  width: 7.1rem;
  height: 2.1rem;
  position: absolute;
  left: 64.15rem;
  top: 121.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.line-1-yti {
  width: 92.8rem;
  height: 0.1rem;
  position: absolute;
  left: 25.7rem;
  top: 120rem;
  background-color: #ffffff;
}
.social-icons-google {
  width: 4.704rem;
  height: 4.8rem;
  position: absolute;
  left: 35.5rem;
  top: 112.2rem;
  object-fit: contain;
  vertical-align: top;
}
.social-icons-twitter {
  width: 4.4rem;
  height: 3.9772rem;
  position: absolute;
  left: 95.8rem;
  top: 112.2808rem;
  object-fit: contain;
  vertical-align: top;
}
.social-icons-linkedin {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 104.2rem;
  top: 111.9rem;
  object-fit: contain;
  vertical-align: top;
}

.social-icons-facebook {
  width: 4.8001rem;
  height: 4.7824rem;
  position: absolute;
  left: 113.7rem;
  top: 111.9rem;
  object-fit: contain;
  vertical-align: top;
}

  
.usthbmaildz-f2n {
  width: 15.3rem;
  height: 3.1rem;
  position: absolute;
  left: 16rem;
  top: 113.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.follow-us-xGn {
  width: 9.8rem;
  height: 3.1rem;
  position: absolute;
  left: 82.25rem;
  top: 112.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.body-img {
  width: 45.5rem;
  height: 47.7rem;
  position: absolute;
  left: 82.5rem;
  top: 33.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 11.4rem;
}
.body-box {
  width: 55rem;
  height: 60.2rem;
  position: absolute;
  left: 10rem;
  top: 31.1rem;
  overflow: hidden;
  box-shadow: 1.9rem 1.8rem 3.08rem rgba(11, 88, 204, 0.5);
  background-color: #e7e7e7;
  border-radius: 3rem;
}

 .frame-12-6GW {
  width: 45.5rem;
  height: 40.6rem;
  position: absolute;
  left: 14.8rem;
  top: 33.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.frame-12-6GW .bar-CqL {
  margin: 0rem 12.6rem 6.7rem 0rem;
  width: calc(100% - 12.6rem);
  height: 4.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.plateforme{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1e4670;
    font-family: Outfit, 'Source Sans Pro';
    white-space:nowrap;
    flex-shrink: 0;
    left: 25rem;
    top: 30.1rem;
    position: absolute;
    text-shadow: 2px 6px 4px rgba(30, 70, 112, 0.4);
}
.abouttxt{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    color: #777777;
    font-family: Outfit, 'Source Sans Pro';
    white-space:nowrap;
    flex-shrink: 0;
    left: 35rem;
    top: 35.1rem;
    position: absolute;
}
.sucesstxt{
  align-items: center;
  margin-left: 10rem;
  margin-top: 40.1rem;
  display: flex;
  flex-direction: column;
  grid-row: 2rem;
  height: 100%;
  
}
.sucess{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1e4670;
    font-family: Outfit, 'Source Sans Pro';
    white-space:nowrap;
    flex-shrink: 0;
    text-shadow: 2px 6px 4px rgba(30, 70, 112, 0.4);
}
.respond
{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    color: #777777;
    font-family: Outfit, 'Source Sans Pro';
    white-space:nowrap;
    flex-shrink: 0;
;
   
}
.login-frame-8DC {
  width: 13.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  align-items: center;
}
.login-GaJ {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.26;
  text-transform: uppercase;
  color: #1e4670;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-12-6GW .bar-CqL .login-frame-8DC .rectangle-1-M5x {
  width: 40.5rem;
  height: 0.3rem;
  background-color: #1e4670;
}

.emailbox-Q4E {
  margin-bottom: 6.8rem;
  margin-left: 1rem;
  box-sizing: border-box;
  padding: 0.467rem 0.508rem 0.467rem 0.508rem;
  width: 100%;
  height: 5.6rem;
  background-color:#ffffff;
  flex-shrink: 0;
  border-radius: 3em ;
}
.emailbox-Q4E:hover{
  box-shadow: 1.9rem 1.8rem 3.08rem rgba(11, 88, 204, 0.5);
}
.email-content-iKp {
  width: 27.8917rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.email-content-iKp .usercircle-fkr {
  margin-right: 3.7rem;
  width: 5.1rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ex-usthbmaildz-jki {
  margin-top: 0.1rem;
  text-align:left;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #777777;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  border: none; 
  outline: none; 
  background: transparent; 
  width: 128%;
}
.ex-usthbmaildz-jki::placeholder {
    
    text-align: center;
}

.passcode-qok {
  margin-bottom: 2rem;
  margin-left: 1rem;
  box-sizing: border-box;
  padding: 0.4rem 0.6rem 0.7rem 0.6rem;
  width: 100%;
  height: 20.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
  border-radius: 3em;
}
.passcode-qok:hover{
  box-shadow: 1.9rem 1.8rem 3.08rem rgba(11, 88, 204, 0.5);
}

.passcontent-aFY {
  width: 19.1rem;
  height: 100%;
  display: flex;
}
 .passcontent-aFY .subtract-KD8 {
  margin-right: 3.7rem;
  width: 5.1rem;
  height: 4.5rem;
  object-fit: contain;
  align-self: center;
}
.passcontent-aFY .feedbacktxt {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #777777;
  font-family: Outfit, 'Source Sans Pro';
  white-space: pre-wrap;
  flex-shrink: 0;
  border: none;
  outline: none; 
  overflow: auto;
  width: 188%;
}
.feedbacktxt::placeholder {
    
    text-align: center;
}




.login-buton-Zmg {
  width: 20.7rem;
  height: 5rem;
  position: relative;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008d1f;
  border-radius: 3rem;
  flex-shrink: 0;
  margin-left: 30rem;
  margin-top: 7rem;
}
.login-buton-Zmg:hover{
  background-color:#005011 ;
}
.homebuttonlink{
  text-decoration: none;
}
.homebutton{
  
  text-transform: uppercase;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  background-color: #0d1426;
  border-radius: 3rem;
  padding: 1rem;
}

