* {
	margin: 0;
	padding: 0;
    font-family: Outfit, 'Source Sans Pro';
    box-sizing: border-box; 
}

.user-img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 2.1rem;


}
.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    min-height: 100vh;
    height: auto;
    width: 8%;
    background-color: #0d1426;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    z-index: 100;
    
    

}

.sidebar.active{
    width: 20%;
}
.sidebar.active .user-img{
    width: 20%;
}
.sidebar ul  li {
	list-style-type: none;
    position: relative;
    height: 50px;
    width: 60%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul  li a {
	color: #FFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    white-space:nowrap;
    align-items: center;
    
}
.sidebar.active ul  li  {
	width: 90%;
}

.sidebar ul  li a i {
	min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;

}
.sidebar ul  li a:hover {
	color: rgb(80, 66, 29);
    background-color: rgb(255, 227, 167);
    
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar #btn{
    position: absolute;
    color: #FFFF;
    top: .4rem;
    left: 50%;
    font-size: 140%;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 90%
}
.sidebar .top .logo {
    margin-top: 5%;
    color: white;
    display: flex;
    width: 87%;
    font-size: 80%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo img {
    width: 20%;
    margin-right: 10%;
}
.user{
    display: flex;
    align-items: center;
    margin: 10% 0% 20% 30%;

}
.user i {
    color: #FFFF;
}
.bold{
    font-weight: 700;
}
.user p{
    color: #FFFF;
    opacity: 1;
    margin-left: 40%;

}
.sidebar .user i{
    opacity: 0;
}
.sidebar.active .user i{
    opacity: 1;
}
.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li .tooltip {
    position: absolute;
    left:180% ;
    top: 50%;
    opacity: 0;
    white-space: nowrap;
    transform: translate(-0% , -50%);
    box-shadow: 0rem 0.5rem 0.8rem rgb(80, 66, 29);
    border-radius: 0.6rem;
    padding: 1rem 1rem;
    line-height: 1.5rem;
    z-index: 20;
    

}
.sidebar ul li:hover .tooltip{
    opacity: 1;
}
.sidebar.active ul li .tooltip{
    display: none;
}
