<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{%static 'images/usthb.svg'%}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>CONTACT US</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="{% static 'styles/contact.css'%}"/>
  
</head>
<body>
<div class="login-Ftr">
  <img class="ellipse-1-aRL" src="{% static 'images/ellipse-1.png'%}"/>
  <img class="ellipse-2-7RG" src="{% static 'images/ellipse-2.png'%}"/>
  <img class="ellipse-3-SyL" src="{% static 'images/ellipse-3.png'%}"/>
  <div class="nav-bar-Pdg">
    <a href="/" class="navbarlink">
      <div class="logo-jBk">
        <img class="logo" src="{%static 'images/usthb.svg'%}"/>
          <p class="logotxt"> University of Science <br>
             and Technology <br>
              Houri Boumediene. </p>  
          
      </div>
    </a>
   
    <div class="frame-7-cmL">
      <a href="/" class="navbarlink"> 
        <div class="navbartxt">HOME</div>
      </a>
      <a href="/login_choose" class="navbarlink"> 
        <div class="navbartxt">LOGIN</div>
      </a>
      <a href="/signup_choose" class="navbarlink"> 
        <div class="navbartxt">SIGN UP</div>
      </a>
      <a href="/about" class="navbarlink"> 
        <div class="navbartxt">ABOUT US</div>
      </a>
    </div>
   
  </div>
  <div class="bottom-frame-Y2i">
  </div>
  <p class="copyright-GjQ">© 2024 - copyright</p>
  <div class="line-1-yti">
  </div>
  
  <a href="https://twitter.com/cabinet_usthb" target="_blank"><img class="social-icons-twitter" src="{% static 'images/twitter.png'%}"/></a>
  <a href="https://www.linkedin.com/school/universit%C3%A9-des-sciences-et-de-la-technologie-'houari-boumedi%C3%A8ne'/" target="_blank"><img class="social-icons-linkedin" src="{% static 'images/linkedin.png'%}"/></a>
  <a href="https://www.facebook.com/cabinetdurecteur" target="_blank"><img class="social-icons-facebook" src="{% static 'images/facebook.png'%}"/></a>
  <p class="usthbmaildz-f2n">contact@usthb.dz</p>
  <p class="follow-us-xGn">follow us </p>
  
  <img class="body-img" src="{% static 'images/img-2a2.png' %}"/>
  <div class="body-box">
  </div>
  <div class="frame-12-6GW">
     
    <div class="bar-CqL">
     
      <div class="login-frame-8DC">
        <p class="login-GaJ">Send Us Your Valuable Feedback !</p>
        <div class="rectangle-1-M5x">
        </div> 
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="emailbox-Q4E">
        <div class="email-content-iKp">

          <img class="usercircle-fkr" src="{% static 'images/email.svg'%}"/>
          
          {{form.email}}
          
        </div>
      </div>
      <div class="passcode-qok">
        <div class="passcontent-aFY">

          <img class="subtract-KD8" src="{% static 'images/feedback.svg'%}"/>
          
          {{form.message}}

        </div>
      </div>
      
      
        
        <input type="submit" value="Send Message" class='login-buton-Zmg'>
        
        {% if form.errors or form.non_field_erors %}
        <div class="errorbox">
          <div class="error">
            {% for field in form %}
              {{field.errors}}
            {% endfor %}
            {{form.non_field_errors}}
          </div>
        </div>
        {% endif %}
    </form>
  </div>
</div>
</body>
</html>