<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{%static 'images/usthb.svg'%}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>CONTACT US</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="{% static 'styles/contact.css'%}"/>
  
</head>
<body>
 <div class="login-Ftr">
  
  <div class="nav-bar-Pdg">
    <a href="/" class="navbarlink">
      <div class="logo-jBk">
        <img class="logo" src="{%static 'images/usthb.svg'%}"/>
          <p class="logotxt"> University of Science <br>
             and Technology <br>
              Houri Boumediene. </p>  
          
      </div>
    </a>
   
    
   
  </div>
  <div class="bottom-frame-Y2i">
  </div>
  <p class="copyright-GjQ">© 2024 - copyright</p>
  <div class="line-1-yti">
  </div>
  
  <a href="https://twitter.com/cabinet_usthb" target="_blank"><img class="social-icons-twitter" src="{% static 'images/twitter.png'%}"/></a>
  <a href="https://www.linkedin.com/school/universit%C3%A9-des-sciences-et-de-la-technologie-'houari-boumedi%C3%A8ne'/" target="_blank"><img class="social-icons-linkedin" src="{% static 'images/linkedin.png'%}"/></a>
  <a href="https://www.facebook.com/cabinetdurecteur" target="_blank"><img class="social-icons-facebook" src="{% static 'images/facebook.png'%}"/></a>
  <p class="usthbmaildz-f2n">contact@usthb.dz</p>
  <p class="follow-us-xGn">follow us </p>
  <img class="social-icons-google" src="{% static 'images/google.png'%}"/>
  
  



  <div class = "sucesstxt">
      <h1 class="sucess">Hi {{user.get_name}} </h1>
      <p class="respond">Your sign up has been submitted 
      <br>
      Thank you for waiting !</p>

      <a href="{% url 'logout' %}" class="homebuttonlink"> 
        <div class="homebutton">go home!</div>
      </a>
  </div>

 </div>
</body>

</html>
